<div class="animate__animated animate__fadeInLeft">
    <p class="text-center fw-light">UBICACIÓN</p>

    <form [formGroup]="direccionForm" (ngSubmit)="nextForm()">
        <div class="row">
            <!-- Dirección -->
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Dirección</label>
                    <input type="text" [class]="setClassName('direccion')" formControlName="direccion" placeholder="Ingresa tu dirección.">
                    <small *ngIf="direccionForm.controls['direccion'].touched && direccionForm.invalid"class="form-text text-danger">Dirección no válida.</small>
                </div>
            </div>

            <div class="text-center">
                <a class="btn btn-primary mx-1" routerLink="/registro/info-personal">Regresar</a>
                
                <button type="submit" class="btn btn-primary mx-1">Siguiente</button>
            </div>
        </div>
    </form>
</div>