
<div class="mt-4 animate__animated animate__fadeIn">
    <div class="card">
        <div class="card-header text-center">
            Seleccione como máximo 2 repositorios
        </div>
        <div class="card-body table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-hover w-100">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estrellas</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        app-repo-item 
                        *ngFor="let repo of repositorios" 
                        [repositorio]="repo"
                    ></tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

